<section class="hero_section py-10">
  <div class="hero_inner max-w-7xl grid gap-6 lg:gap-8 md:grid-cols-2 items-center mx-auto">
    <div class="grid gap-5">
      <h1 class="font-semibold text-4xl lg:text-5xl xl:text-6xl text-center md:text-right text-slate-700 max-w-3xl mx-auto tracking-tighter	">{{page.page_heading}}</h1>
      <a href="{{ site.baseurl }}/services/" class="w-fit px-10 py-4 bg-slate-200 rounded hover:bg-slate-100 hover:shadow-md mx-auto  md:ml-auto md:mr-0 text-2xl border-solid border-slate-400 border">Learn How!</a>
    </div>
    <img src="{{site.baseurl}}{{page.image}}" alt="hero image">
  </div>
</section>