---
layout: landing
title: Home
page_heading: We help strategic investors leverage data and innovative analytics to improve their returns
permalink: "/"
image: /assets/images/consulting-1920.jpg
lang: en
weight: 1
---

<div class="w-full">
  {% assign current_lang = page.lang | default: site.active_lang %}
  {% assign landing_blocks = site.landing_blocks | where: "lang", current_lang %}

  {% if landing_blocks and landing_blocks.size > 0 %}
  {% assign sorted_blocks = landing_blocks | sort: "weight" %}

  {% for block in sorted_blocks %}
  <div class="{{ block.css_class }} landing-block py-12">
    <div class="landing_inner max-w-7xl px-5 mx-auto">
      {{ block.content }}
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p>No content available for this language.</p>
  {% endif %}
</div>